* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Kanit", serif;
}

.addpromotion {
    height: 810px;
    margin-top: 100px;
    font-size: 36px;
    padding: 20%;
    padding-top: 24px;
    padding-bottom: 0;
}

.topic {
    font-size: 40px;
    font-weight: 300;
}

.container {
    padding-top: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.img {
    margin-right: 0;
}

img {
    width: 250px;
    height: 350px;
    margin-bottom: 12px;
    object-fit: cover;
}

.promotion-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 5px;
}

.promotion-name input {
    padding: 6px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 300px;
    height: auto;
}

.promotion-name input:focus {
    border: 1px solid lightgray;
}

.original-price {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 5px;
}

.inside-original-price input {
    padding: 6px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 150px;
    height: auto;
}

.inside-original-price input:focus {
    border: 1px solid lightgray;
    outline: none;
}

.Percent {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 5px;
}

.inside-Percent input {
    padding: 6px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 150px;
    height: auto;
}

.inside-Percent input:hover,
.inside-Percent input:focus {
    border: 1px solid black;
    outline: 1px solid black;
}

.set-price {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 5px;
}

.inside-set-price input {
    padding: 6px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 150px;
    height: auto;
}

.inside-set-price input:hover,
.inside-set-price input:focus {
    border: 1px solid black;
    outline: 1px solid black;
}

label {
    font-size: 26px;
}

span {
    font-size: 26px;
    padding-left: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.promotion-button {
    margin-top: 40px;
    font-family: "Kanit", serif;
    width: 180px;
    height: 60px;
    position: top;
    float: right;
    background-color: #00AAFF;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.promotion-button:hover{
    background-color: #0088cc;
}