* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-family: "Kanit", serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.7;
}

.container{
    width: 90rem;
    margin: 14rem auto 10rem auto;
}

.topic{
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 2rem;
}

.add-container{
    /* padding: 100px; */
    padding-top: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 8rem;
}

.add-container .left{
    width: 30rem;
    height: 45rem;
}

.add-container .left img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    border-right: 5px solid #00AAFF;
}

.btn-editimage{
    font-size: 1.6rem;
    width: 100px;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    color: white;
    border: 1px solid #00AAFF;
    background-color: #00AAFF;
}

.add-container .right{
    display: flex;
    flex-direction: column;
    width: auto;
    padding-right: 5rem;
    height: 600px;
    overflow-y: auto;
}

.add-container .right input{
    margin-top: 1rem;
    padding: .5rem 0;
    font-size: 1.6rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: auto;
    font-family: "Kanit", serif;
    transition: all .3s;
}

.add-container .right input:focus{
    border: 1px solid #00aaff;
}

.product-name{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.product-name input{
    padding: 4px;
    padding-left: 0;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: auto;
}

/* .product-name input:focus{
    padding: 4px;
    padding-left: 0;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: auto;
} */

.category-gender{
    margin-bottom: 16px;
}

.category-gender input{
    
}

.gender {
    font-size: 1.8rem;
    font-weight: 400;
}

.category-gender label{
    padding-left: 8px;
    margin-right: 10px;
    color: #00aaff;
}

label{
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: "Kanit", serif;
}

.category-type{
    margin-bottom: 16px;
}

.describe{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.describe textarea{
    padding: 4px;
    border: 1px solid lightgray;
    resize: none;
    outline: none;
    height: 100px;
    width: 300px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-family: "Kanit", serif;
    padding: 8px;
    transition: all .3s;
}

.describe textarea:focus{
    padding-left: 8px;
    border: 1px solid #00aaff;
}

.price{
    display: flex;
    flex-direction: column;
}

.price input{
    height: 30px;
    width: 200px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: auto;
    outline: none;
    padding-left: 10px;
    font-family: "Kanit", serif;
}

.price input:focus{
    padding-left: 10px;
}

.color{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.color select{
    text-align: left;
    padding: 4px;
    width: 120px;
    font-size: 14px;
    border: 1px solid lightgray;
    font-family: "Kanit", serif;
    border-radius: 4px;
}

.color option{
    font-size: 14px;
    font-family: "Kanit", serif;
}

.color select:focus{
    border: 1px solid lightgray;
}

input::placeholder, textarea::placeholder {
    opacity: 0.4;
}


#pPrice {
    padding: .5rem 1rem;
}

.size-details{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 8px;
}

.size-details label, .add-size{
    border: 1px solid lightgray;
    padding: 4px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.size-details input{
    width: 200px;
}

.size-details input:placeholder-shown{
    opacity: 70%;
}

.add-size{
    margin-top: 8px;
    cursor: pointer;
    margin-bottom: 16px;
    font-size: 16px;
}

.add-more-details{
    font-size: 14px;
    color: #00AAFF;
    cursor: pointer;
}

/* ลบแท็บที่เลื่อนเพิ่มหรือลดเลขออก */
/* input[type=number] {
    -moz-appearance: textfield;  สำหรับ Firefox 
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit-edit {
    margin-top: 4rem;
    margin-left: auto;
    padding: 1.5rem 2rem;
    align-self: flex-start;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #00aaff;
    cursor: pointer;
    transition: all .3s;
    font-size: 1.6rem;
    font-family: "Kanit", serif;
}

.submit-edit:hover {
    background-color: #0092db;
}