* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Kanit", serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

div.favouriteinfo {
    padding: 14rem 18rem 14rem 18rem;
    flex: 1;
}

div.favouriteinfo h1 {
    font-size: 3.6rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

div.favouritetable table {
    width: 100%;
    border-collapse: collapse;
}

div.favouritetable tr {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(206, 206, 206);
}

div.favouritetable th {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: left;
    padding-bottom: .5rem;
}

div.favouritetable th:nth-child(1),
div.favouritetable th:nth-child(2),
div.favouritetable th:nth-child(3) {
    
}

div.favouritetable th:nth-child(4) {
    visibility: hidden;
    /* width: 25%; */
}

.favouritetable td {
    font-size: 1.8rem;
    padding-right: 1rem;
    font-weight: 400;
    text-align: left;
}

.goods {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-name {
    font-size: 2rem;
    font-weight: 400;
}

.product-img {
    width: 10rem;
    height: 13rem;
    border-radius: 5px;
    object-fit: cover;
}

.price {
    font-size: 2rem;
    font-weight: 400;
    position: relative;
}

.amount {
    font-size: 2rem;
    font-weight: 400;
}

.basket {
    font-weight: 400;
    position: relative;
}

.basket a {
    position: absolute;
    right: -3rem;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background-color: #FF0000;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.basket a:hover {
    background-color: #db0000;
}

.basket a svg {
    vertical-align: middle;
    fill: #fff;
    width: 2.4rem;
    height: 2.4rem;
}

.basket button {
    font-family: "Kanit", serif;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #00aaff;
    color: #00aaff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .3s;
}

.basket button:hover {
    transform: translateY(-1px) scale(1.025);
    box-shadow: 0 1rem 3.5rem rgba(0, 0, 0, 0.1);
}

.basket button:active {
    transform: translateY(1px) scale(0.9725);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
}

.out_of_stock {
    font-size: 1.8rem !important;
    font-weight: 400;
    color: #FF0000;
}

.available {
    font-size: 1.8rem !important;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    div.favouriteinfo {
        padding: 14rem 13rem 14rem 13rem;
        flex: 1;
    }
    html {
        font-size: 55%
    }

    .goods {
        gap: 8px;
    }

}

@media screen and (max-width: 900px) {
    html {
        font-size: 52%
    }
    .goods {
        gap: 6px;
    }

    div.favouriteinfo {
        padding: 14rem 7rem 14rem 7rem;
        flex: 1;
    }

    .product-img {
        display: none;
    }

    .amount {
        display: none;
    }

    .available {
        display: none;
    }

    div.favouritetable th:nth-child(3) {
        display: none;
    }
    
    div.favouritetable th:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 49%
    }
    .goods {
        gap: 4px;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 46%
    }
    .goods {
        gap: 2px;
    }
    
    div.favouriteinfo {
        padding: 14rem 4.5rem 14rem 3rem;
    }

    div.favouritetable th {
        font-size: 1.8rem;
    }

    div.favouritetable td {
        font-size: 1.6rem;
    }

    .product-name {
        font-size: 1.6rem;
    }

    .price {
        font-size: 1.6rem;
    }

    .basket button {
        padding: .7rem 1rem;
        font-size: 1.6rem;
    }

    .basket a {
        right: -3rem;
    }

    .basket a svg {
        width: 1.8rem;
        height: 1.8rem;
    }
}
