*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: "Kanit", serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
}

.container{
    display: grid;
    width: 80%;
    margin: 90px auto;
    margin-bottom: 0;
}

.return{
    height: 30px;
    padding: 36px;
    padding-left: 0;
    margin-bottom: 24px;
}

.return a{
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: #00AAFF;
    width: 163px;
}

.return span{
    font-size: 18px;
    margin-left: 8px;
    font-weight: 400;
    transition: all .3s;
}

.return a > svg > path {
    transition: all .3s;
}

.return a:hover > svg > path{
    fill: #0088CC;
}

.return a:hover{
    color: #0088CC;
}

.main-content{
    margin-left: 88px;
    padding-bottom: 48px;
    margin-right: 88px;
    /* min-width: 1000px; */
}

.main-content .topic{
    font-size: 32px;
}

.order-card{
    padding: 48px;
    padding-bottom: 0;
    padding-top: 36px;
    border-bottom: 1px solid #cfcfcf;
}

.order-card .total{
    text-align: right;
    font-size: 24px;
    padding-bottom: 24px;
    padding-top: 8px;
}

.total-price{
    font-weight: 500;
}

.order-details{
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    font-size: 18px;
}

.product-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
}

.product-card .left{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
}

.product-details{
    margin-top: 4px;
    max-width: 400px;
}

.product-images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    padding: 16px;
    padding-left: 0;
}

.product-card img{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.product-card .product-name{
    font-size: 22px;
    margin-bottom: 4px;
}

.product-card .right{
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    font-size: 16px;
}

.right .review{
    color: #00AAFF;
    cursor: pointer;
}

.review {
    margin-left: auto;
    justify-self: start;
    margin-top: 4px;
    transition: all .3s;
}

.review:hover{
    color: #0088DD;
}

.product-price{
    font-size: 20px;
}

.right .sale{
    display: flex;
    align-items: center;
}

.oldprice{
    text-decoration: line-through;
    margin-top: 2px;
}

.newprice{
    margin-left: 8px;
    color: #0088DD;
    font-weight: 500;
}

.opacity-color{
    color: #575757;
}

.not-found{
    margin-top: 16px;
    text-align: center;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 16px;
    color: #9E9E9E;
    font-size: 18px;
}

@media screen and (max-width: 1200px){
    *{
        transition: 0.1s;
    }

    html {
      font-size: 58%;
    }

    body{
        width: 100%;
        margin-top: 100px;
        margin: auto;
        font-size: 16px;
    }

    .container{
        margin: 70px auto;
        margin-bottom: 0;
        width: 90%;
    }

    .main-content{
        margin: auto;
        width: 90%;
    }

    .order-card{
        padding: 0;
        margin-top: 24px;
    }

    .product-card .left{
        font-size: 16px;
    }

    .product-card .right{
        font-size: 16px;
    }

    .product-card .product-name{
        font-size: 20px;
    }

    .order-details{
        width: 100%;
        margin-bottom: 16px;
    }

    .order-card .total{
        font-size: 22px;
        padding-top: 4px;
    }

}

@media screen and (max-width: 900px){
    html {
        font-size: 55%;
    }

    .container{
        margin: 65px auto;
    }

    .order-card .total{
        font-size: 20px;
    }
}

@media screen and (max-width: 768px){
    html {
        font-size: 52%;
    }

    body{
        width: 100%;
        margin-top: 100px;
        margin: auto;
    }

    .container{
        margin: 70px auto;
        margin-bottom: 0;
        width: 90%;
    }

    .main-content{
        margin: auto;
        width: 90%;
    }

    .main-content .topic{
        font-size: 28px;
    }

    .return span{
        font-size: 18px;
    }

    .product-card .product-name{
        font-size: 18px;
    }

    .product-price{
        font-size: 18px;
    }

    .product-images{
        width: 120px;
        height: 150px;
    }
    
    .product-card img{
        max-width: 120px;
        max-height: 150px;
        width: auto;
        height: auto;
    }

}

@media screen and (max-width: 600px){
    .container{
        margin: 60px auto;
        margin-bottom: 0;
    }

    .order-details{
        font-size: 16px;
    }
    
    .product-card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .product-card .left{
        display: flex;
        justify-content: left;
        width: 100%;
    }

    .product-card .right{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    .review{
        margin-left: 0;
    }

    .total{
        margin-top: 16px;
    }
}