@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
  height: 100vh;
  font-family: "Kanit", serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-blue {
  color: #00aaff;
}

.text-gray {
  color: #b0aeae;
  font-weight: 300;
}

.icon {
  width: 3.2rem;
}

.link:link,
.link:visited {
  color: #00aaff;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.eror {
  color: #ff0000;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100rem;
  height: 52rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.login__left {
  width: 45%;
  height: 100%;
}

.login__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.login__right {
  background-color: white;
  width: 55%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  padding: 5.6rem;
}

.form {
  width: 100%;
}

input {
  font-family: "Kanit", serif;
}

.form__top {
  font-size: 3.6rem;
  margin-bottom: 3.6rem;
}

.form__body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.group-form-el {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.input-group input {
  border: none;
  border-bottom: 1px solid #cecece;
  padding: 1.4rem 0 1.4rem 4.5rem;
  width: 100%;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.input-group input:focus {
  border-bottom: solid #00aaff 1px;
  outline: none;
}

.input-group input::placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

.input-group img {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-55%);
  transition: all 0.3s;
}

.form__body-btn {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.form__body button {
  font-family: "Kanit", serif;
  padding: 1.2rem;
  width: 12rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.form__body button:hover {
  background-color: #00aaff;
  transition: 0.3s;
}

.form__footer {
  display: grid;
  text-align: center;
  height: 7rem;
}

.form__footer .or {
  display: flex;
  align-items: center;
  text-align: center;
}

.form__footer .or::before,
.form__footer .or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0.8rem;
}

.form__footer a {
  text-decoration: none;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.modal-content {
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  text-align: center;
  position: relative;
  width: 30rem;
  border-left: 5px solid #2acc09;
  transform: scale(0.3);
  transition: all 0.3s;
}

.success-message {
  color: #2acc09;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.modal-button {
  background: #2acc09;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.3s;
}

.modal-button:hover {
  background: #229b07;
}

.open-modal {
  visibility: visible;
  opacity: 1;
}

.open-content-modal {
  transform: scale(1);
}

@media screen and (max-width: 75em) {
  html {
    font-size: 58%;
  }

  .login {
    width: 50rem;
    height: auto;
  }
  .login__left {
    display: none;
  }

  .login__right {
    width: 100%;
    border-radius: 5px;
  }

  .form__top {
    text-align: center;
  }
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}

@media screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }

  .login {
    margin: 0 2rem;
  }
  .login__right {
    padding: 5.6rem 3rem;
  }
}
