.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: 1px solid rgb(185, 185, 185);
  margin: 0;
  padding-left: 35px;
  padding-right: 35px;
  top: 0;
  position: sticky;
  background-color: white;
  padding: 2rem 3rem;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item a:link,
.nav__item a:visited {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.nav__item a:hover {
  color: #00aaff;
}

.nav__item a.search {
  all: initial;
  cursor: pointer;
}

.nav__item a.search svg {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}

.nav__item a.logo {
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 300;
}

input[type="text"] {
  width: 300px;
  height: 30px;
  border: hidden;
  outline: none;
  text-indent: 10px;
  font-size: 14px;
}

input[type="text"]:focus {
  border: none;
}

input::placeholder {
  font-size: 14px;
}

.nav__item label {
  display: flex;
  align-items: center;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  padding: 1px;
}

.nav__item label:focus-within {
  outline: 2px solid #000000;
}

.nav__item svg {
  width: 3.2rem;
  height: 3.2rem;
  float: right;
}

div.navpart1,
div.navpart2,
div.navpart3 {
  display: flex;
}

div.navpart1 {
  gap: 30px;
}

div.navpart2 {
  gap: 60px;
  font-weight: 400;
}

.navpart3 .nav__item:not(:last-child) {
  margin-right: 2rem;
}

.navpart3 .nav__item a > svg {
  transition: all 0.2s;
}

.navpart3 .nav__item a:hover > svg {
  fill: #00aaff;
}

.user svg {
  margin-right: 0.5rem;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 1rem 0;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.username svg,
.username div {
  transition: all 0.2s;
}

.username:hover > svg {
  fill: #00aaff;
}

.username:hover > svg ~ div {
  color: #00aaff;
}

.btn-login:link,
.btn-login:visited {
  text-decoration: none;
  background-color: #000000;
  color: #fff;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  transition: all 0.3s;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.btn-login:hover {
  transform: scale(1.025);
}

.btn-login:active {
  transform: scale(0.975);
}

.drop-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(50%);
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.drop-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

.drop-menu__item {
  width: 100%;
}

.drop-menu__link:link,
.drop-menu__link:visited {
  display: inline-block;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.2s;
}

.drop-menu__link:hover {
  color: #00aaff;
}

.drop-menu__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.541);
}

.drop-menu__item:last-child > .drop-menu__link {
  color: #ff0000;
}

.drop-menu__item:last-child:hover > .drop-menu__link {
  color: #c00000;
}

.showDrop {
  opacity: 1;
  visibility: visible;
}

.change-bg {
  color: #00aaff;
  fill: #00aaff;
}
