<ul class="navbar">
    <div class="navpart1">
      <li class="nav__item"><a href="/home" class="logo">JPBAN</a></li>
      <li class="nav__item nav__search">
        <label class="search-container">
          <input type="text" placeholder="ช่องค้นหา" class="search-bar" />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#030303"
            viewBox="0 0 256 256"
            class="search-icon"
          >
            <path
              d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
            ></path>
          </svg>
          <div class="search-result">
            <div class="search-group-data">
            </div>
            <div class="search-sum">5 result</div>
          </div>
        </label>
        
      </li>
    </div>
  
    <div class="navpart2">
      <li class="nav__item"><a href="/home">สินค้าทั้งหมด</a></li>
      <li class="nav__item"><a href="/men">ผู้ชาย</a></li>
      <li class="nav__item"><a href="/women">ผู้หญิง</a></li>
    </div>
  
    <div class="navpart3">
      <li class="user"></li>
    </div>
  </ul>
  