<aside class="aside-menu">
  <div class="menu-detail">
    <div class="menu-detail__heading">รายละเอียดสินค้า</div>
    <ul class="menu-detail__list">
      <li class="menu-detail__item promo" data-filter="promotion" data-value="promotion">สินค้าโปรโมชั่น</li>
      <li class="menu-detail__item">
        <div class="menu-detail__item-heading" data-head="type">
          <span>ประเภทสินค้า</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="#000"
            viewBox="0 0 256 256"
            class="menu-detail__icon"
          >
            <path
              d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"
            ></path>
          </svg>
        </div>
        <ul class="menu-detail__list-content">
          <li data-value="เสื้อ" data-filter="type" class="menu-detail__item-content">เสื้อ</li>
          <li data-value="กางเกง" data-filter="type" class="menu-detail__item-content">กางเกง</li>
          <li data-value="กางเกงใน" data-filter="type" class="menu-detail__item-content">กางเกงใน</li>
        </ul>
      </li>
      <li class="menu-detail__item">
        <div class="menu-detail__item-heading" data-head="size">
          <span>ขนาดไซส์</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="#000"
            viewBox="0 0 256 256"
            class="menu-detail__icon"
          >
            <path
              d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"
            ></path>
          </svg>
        </div>
        <ul class="menu-detail__list-content list-input-check">
          <li>
            <label class="label-input">
              <input type="checkbox" name="size-s" id="s" class="input-check" data-filter="size" data-value="S"/>
              <span class="check-mark"></span>S
            </label>
          </li>
          <li>
            <label class="label-input">
              <input type="checkbox" name="size-m" id="m" class="input-check" data-filter="size" data-value="M"/>
              <span class="check-mark"></span>M
            </label>
          </li>
          <li>
            <label class="label-input">
              <input type="checkbox" name="size-l" id="l" class="input-check" data-filter="size" data-value="L"/>
              <span class="check-mark"></span>L
            </label>
          </li>
          <li>
            <label class="label-input">
              <input
                type="checkbox"
                name="size-xl"
                id="xl"
                class="input-check"
                data-filter="size"
                data-value="XL"
              />
              <span class="check-mark"></span>XL
            </label>
          </li>
        </ul>
      </li>
      <li class="menu-detail__item">
        <div class="menu-detail__item-heading" data-head="color">
          <span>สี</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="#000"
            viewBox="0 0 256 256"
            class="menu-detail__icon"
          >
            <path
              d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"
            ></path>
          </svg>
        </div>

        <ul class="menu-colors">
          <!-- <li><div class="btn-color black" data-filter="color" data-value="Black"></div></li>
          <li><div class="btn-color gray" data-filter="color" data-value="Gray"></div></li>
          <li><div class="btn-color white" data-filter="color" data-value="White"></div></li>
          <li><div class="btn-color navy" data-filter="color" data-value="Navy"></div></li> -->
        </ul>
      </li>
    </ul>
  </div>
  <div class="menu-filter">
    <div class="menu-filter__heading">
      <div class="heading-tertiary">เรียงตามสินค้า</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="#000"
        viewBox="0 0 256 256"
      >
        <path
          d="M64,105V40a8,8,0,0,0-16,0v65a32,32,0,0,0,0,62v49a8,8,0,0,0,16,0V167a32,32,0,0,0,0-62Zm-8,47a16,16,0,1,1,16-16A16,16,0,0,1,56,152Zm80-95V40a8,8,0,0,0-16,0V57a32,32,0,0,0,0,62v97a8,8,0,0,0,16,0V119a32,32,0,0,0,0-62Zm-8,47a16,16,0,1,1,16-16A16,16,0,0,1,128,104Zm104,64a32.06,32.06,0,0,0-24-31V40a8,8,0,0,0-16,0v97a32,32,0,0,0,0,62v17a8,8,0,0,0,16,0V199A32.06,32.06,0,0,0,232,168Zm-32,16a16,16,0,1,1,16-16A16,16,0,0,1,200,184Z"
        ></path>
      </svg>
    </div>
    <ul class="menu-filter__list">
      <li class="menu-filter__item" data-filter="sort" data-value="low-to-high">
        ราคาต่ำไปสูงสุด
      </li>
      <li class="menu-filter__item" data-filter="sort" data-value="high-to-low">
        ราคาสูงสุดไปต่ำสุด
      </li>
      <li class="menu-filter__item" data-filter="sort" data-value="old-to-new">
        สินค้าเก่าไปสินค้าใหม่
      </li>
      <li class="menu-filter__item" data-filter="sort" data-value="new-to-old">
        สินค้าใหม่ไปสินค้าเก่า
      </li>
    </ul>
  </div>
</aside>
