<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favourite | JPBAN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/css/footer.css" />
  </head>

  <body>
    <footer>
      <div class="area">
        <div class="logo">JPBAN</div>

        <div class="text">
          <div class="left">
            <p class="head">Fundamental Web Programming</p>
            <p>
              คณะเทคโนโลยีสารสนเทศ
              <br />สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
            </p>
            <p>
              เลขที่ 1 ซอยฉลองกรุง 1 แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพฯ 10520
            </p>
          </div>

          <div class="right">
            <p class="head">สมาชิก</p>
            <p>
              66070063 นาย ณัฐวัฒน์ โชติปัญจะวงษ์ <br />66070080 นาย ธนภัทร
              มลิแก้ว <br />66070240 นาย กิตติพิชญ์ เพ็งแจ่ม <br />66070272 นาย
              ธิเบศ สว่างการ <br />66070243 นาย เกียรติศักดิ์ สกุลวันธนพัฒน์
            </p>
          </div>
        </div>
      </div>

      <p>© JPBAN Powered by JPBAN</p>
    </footer>
  </body>
</html>
