<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="/images/login-leftside.png" alt="">
        </div>
        <div class="right">
            <div class="form">
                <div class="form-top">
                    <div>Welcome to <span class="textblue">JPBAN</span></div>
                </div>
                <form action="">
                    <div class="form-center">
                        <div class="input-group">
                            <img src="/images/user-circle.svg" alt="" srcset="">
                            <input type="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="input-group">
                            <img src="/images/lock.svg" alt="" srcset="">
                            <input type="password" id="password" placeholder="Password" required>
                        </div>
                        <div class="form-center-btn">
                            <button type="submit">Login</button>
                        </div>
                    </div>
                </form>
                <div class="form-bottom">
                    <div class="or-line">
                        <span class="or">or</span>
                    </div>
                    <div>
                        <span class="textgray">Don't have an account?</span>
                        <a href="" class="textblue">Register now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>