<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
    <script defer src="/js/login.js"></script>
    <title>Login | JPBAN</title>
  </head>
  <body>
    <div class="login">
      <div class="login__left">
        <img src="images/login-leftside.png" alt="img-left" />
      </div>
      <div class="login__right">
        <div class="form">
          <div class="form__top">
            <div>ยินดีต้อนรับเข้าสู่ <span class="text-blue">JPBAN</span></div>
          </div>
          <form action="">
            <div class="form__body">
              <div class="group-form-el">
                <div class="input-group">
                  <img
                    src="icon/user-circle.svg"
                    alt="icon-user"
                    class="icon"
                  />
                  <input
                    type="email"
                    id="email"
                    placeholder="อีเมล"
                    class="input-email"
                    required
                  />
                </div>
                <div class="eror">&nbsp;</div>
              </div>
              <div class="group-form-el">
                <div class="input-group">
                  <img src="/icon/lock.svg" alt="icon-password" class="icon" />
                  <input
                    type="password"
                    id="password"
                    placeholder="รหัสผ่าน"
                    class="input-password"
                    required
                  />
                </div>
                <div class="eror">&nbsp;</div>
              </div>
              <div class="form__body-btn">
                <button type="submit">เข้าสู่ระบบ</button>
              </div>
            </div>
          </form>
          <div class="form__footer">
            <div class="or-line">
              <span class="or">หรือ</span>
            </div>
            <div>
              <span class="text-gray">ยังไม่มีบัญชี?</span>
              <a href="/register" class="link">ลงทะเบียนเลย</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="successModal" class="modal">
      <div class="modal-content">
        <div class="success-message">เข้าสู่ระบบสำเร็จ!</div>
        <button class="modal-button">ตกลง</button>
      </div>
    </div>
  </body>
</html>
