<section class="section-product">
  <div class="hero-promotion">
    <div class="slide-show">
      <img
        src="/images/slide-img-1.png"
        alt="slide-img-1"
        class="slide-show__img"
      />
      <img
        src="/images/slide-img-2.png"
        alt="slide-img-2"
        class="slide-show__img"
      />
      <img
        src="/images/slide-img-3.png"
        alt="slide-img-3"
        class="slide-show__img"
      />
    </div>
    <div class="group-btn-silde">
      <button class="btn-slide btn-slide-1 active-show-btn"></button>
      <button class="btn-slide btn-slide-2"></button>
      <button class="btn-slide btn-slide-3"></button>
    </div>
  </div>
  <div class="product">
    <div class="container-loader">
      <div class="loader"></div>
    </div>
  </div>
</section>
