<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="style.css" />
    <script defer src="script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <img src="../images/login-leftside.png" alt="img-left" />
      </div>
      <div class="right">
        <div class="form">
          <div class="form-top">
            <div>Welcome to <span class="textblue">JPBAN</span></div>
          </div>
          <form action="">
            <div class="form-center">
              <div class="input-group">
                <img src="../icon/user-circle.svg" alt="icon-user" />
                <input type="email" id="email" placeholder="Email" required />
              </div>
              <div class="input-group">
                <img src="../icon/lock.svg" alt="icon-password" />
                <input
                  type="password"
                  id="password"
                  placeholder="Password"
                  required
                />
              </div>
              <div class="form-center-btn">
                <button type="submit">Login</button>
              </div>
            </div>
          </form>
          <div class="form-bottom">
            <div class="or-line">
              <span class="or">or</span>
            </div>
            <div>
              <span class="textgray">Don't have an account?</span>
              <a href="../register/register.html" class="textblue"
                >Register now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
